<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/order-style.css' %}" />

    <title>Document</title>
</head>
<body>
    <section id="form">
        <section class="wrapper">
            
            {% if form %}
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {% endfor %}
                    <button type="submit">Order</button>
                    
                    {% if errors %}
                        <p>{{errors}}</p>
                    {% endif %}
                        
                </form>
            </div>
            {% endif %}
            
            {% if message %}
                <h2>{{message}}</h2>
                <a href="{% url 'web:index' %}">Go Back</a>
            {% endif %}
                
                
        </section>
    </section>
</body>
</html>
