* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Gordita Regular";
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-weight: 400;
}

a {
    color: #1c2c40;
}
a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 400;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
}
#form{
    width: 60%;
    margin: 0 auto;
    padding: 100px;
}
label[for=name]{
    font-weight: bold;
    display: flex; 
    color: #ccc;
}

input[type=text], select {
    width: 100%;
    padding: 25px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #d1cdcd;

}

label[for=category], select {
    width: 100%;
    padding: 25px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #d1cdcd;
}
label[for=number]{
    font-weight: bold;
    display: flex; 
    color: #ccc;

}

input[type=number], select {
    width: 100%;
    padding: 25px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #d1cdcd;
}
label[for=name]{
    font-weight: bold;
    display: flex; 
    color: #ccc;

}
  input[type=place], select {
    width: 100%;
    padding: 25px;
    margin: 25px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #d1cdcd;

}

  input[type=submit] {
    width: 100%;
    background-color: #313ef7;
    color: white;
    padding: 25px;
    margin: 25px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2a04d6;
  }
  
  div {
    border-radius: 5px;
    /* background-color: #181616; */
    padding: 60px;
  }
  